.cover__link {
  display: flex;
  flex-direction: column;
  padding: calc((100% * 10 / 16 - 250px) / 2) 0;
  align-items: center;
  color: white;
  text-decoration: none;
  position: relative;
  background-image: url(../../../image/railways.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat:no-repeat;
  z-index: 0;
}

.cover__link:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -1;
  transition: opacity .3s linear;
}

.cover__link:hover::before {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .cover__link{
    padding: calc((100% * 10 / 16 - 134px) / 2) 0;
  }
}
